*~
Makefile
Makefile.in
aclocal.m4
autom4te.cache/
compile
config.h
config.h.in
config.log
config.status
configure
help/Makefile
help/en/Makefile
help/images/Makefile
intltool-extract
intltool-merge
intltool-update
po/Makefile
po/Makefile.in
po/Makefile.in.in
po/POTFILES
po/*.gmo
po/stamp-it
src/.deps/
src/*.o
src/Makefile
src/texturize
stamp-h1
